.main-create{
    height: 100vh;
    width: 100%;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-form{
    height: 50vh;
    width: 45vw;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 2px 1px 2px white;
}
.create-form input{
    width: 60%;
    border: 1px solid grey;
}
.create-form textarea{
    height: 20vh;
    width: 60%;
    border: 1px solid grey;
}
.create-form button{
    background: linear-gradient(to right, rgb(139, 117, 219), rgb(102, 67, 226));
    padding: 10px;
    border-radius: 25px;
    width: 7vw;
    cursor: pointer;
}